a.elementor-button.tk-button{position:relative}
a.elementor-button.tk-button:after{content:'';position:absolute;z-index:-1;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;border-radius:inherit;border:inherit}
a.elementor-button.tk-button.style2,a.elementor-button.tk-button.style3,a.elementor-button.tk-button.style4,a.elementor-button.tk-button.style5,a.elementor-button.tk-button.style6,a.elementor-button.tk-button.style7{background:0 0!important;border:1px solid;color:var(--e-global-color-accent)}
/* style2 */
a.elementor-button.tk-button.style2:after{width:100%;height:0;top:0;left:0;background:var(--e-global-color-accent)}
a.elementor-button.tk-button.style2:active:after,a.elementor-button.tk-button.style2:hover:after{height:100%}
/* style3 */
a.elementor-button.tk-button.style3:after{width:0%;height:100%;top:0;left:0;background:var(--e-global-color-accent)}
a.elementor-button.tk-button.style3:active:after,a.elementor-button.tk-button.style3:hover:after{width:100%;color:#fff}
/* style4 */
a.elementor-button.tk-button.style4{overflow:hidden}
a.elementor-button.tk-button.style4:after{width:0;height:103%;top:50%;left:50%;background:#fff;opacity:0;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
a.elementor-button.tk-button.style4:after{width:90%;opacity:1}
a.elementor-button.tk-button.style4:active:after{width:101%;opacity:1}
/* style5  */
a.elementor-button.tk-button.style5{overflow:hidden}
a.elementor-button.tk-button.style5:after{width:100%;height:0;top:50%;left:50%;background:#fff;opacity:0;-webkit-transform:translateX(-50%) translateY(-50%) rotate(45deg);-moz-transform:translateX(-50%) translateY(-50%) rotate(45deg);-ms-transform:translateX(-50%) translateY(-50%) rotate(45deg);transform:translateX(-50%) translateY(-50%) rotate(45deg)}
a.elementor-button.tk-button.style5:hover:after{height:260%;opacity:1}
a.elementor-button.tk-button.style5:active:after{height:400%;opacity:1}
/*style6 */
a.elementor-button.tk-button.style6{overflow:hidden}
a.elementor-button.tk-button.style6:after{width:101%;height:0;top:50%;left:50%;background:#fff;opacity:0;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
a.elementor-button.tk-button.style6:hover:after{height:75%;opacity:1}
a.elementor-button.tk-button.style6:active:after{height:130%;opacity:1}
/*-------------*/
.tk-buttons-group{display:flex;flex-flow:wrap;align-items:flex-start}
.tk-buttons-group a,.tk-buttons-group a:hover{text-decoration:none;transition:all .5s ease-in-out}
.tk-buttons-group .tk-button{display:flex}
.tk-buttons-group .tk-button .tk-button-content-wrapper .tk-button-content-inner{display:flex;align-items:center;justify-content:center}
.tk-buttons-group .tk-button .tk-button-content-wrapper .tk-button-content-inner.tk-icon-before{flex-direction:row}
.tk-buttons-group .tk-button .tk-button-content-wrapper .tk-button-content-inner.tk-icon-after{flex-direction:row-reverse}
.tk-buttons-group .tk-button .tk-button-content-wrapper .tk-button-content-inner.tk-icon-top{flex-direction:column}
.tk-buttons-group .tk-button .tk-button-content-wrapper .tk-button-content-inner.tk-icon-bottom{flex-direction:column-reverse}
.tk-button-icon-image img{width:40px}
.tk-button-content-wrapper{display:flex;flex-grow:1;justify-content:center}
.tk-buttons-valign-top .tk-buttons-group{align-items:flex-start}
.tk-buttons-valign-middle .tk-buttons-group{align-items:center}
.tk-buttons-valign-bottom .tk-buttons-group{align-items:flex-end}
.tk-buttons-valign-stretch .tk-buttons-group{align-items:stretch}
.tk-buttons-valign-stretch .tk-buttons-group .tk-button-content-wrapper{align-items:center}
.tk-buttons-halign-left .tk-buttons-group{justify-content:flex-start}
.tk-buttons-halign-center .tk-buttons-group{justify-content:center}
.tk-buttons-halign-right .tk-buttons-group{justify-content:flex-end}
.tk-buttons-halign-stretch .tk-buttons-group{justify-content:stretch}
.tk-buttons-halign-stretch .tk-button{flex-grow:1}
.tk-buttons-stack-desktop .tk-buttons-group{flex-direction:column}
.tk-buttons-stack-desktop.tk-buttons-halign-left .tk-buttons-group{align-items:flex-start}
.tk-buttons-stack-desktop.tk-buttons-halign-center .tk-buttons-group{align-items:center}
.tk-buttons-stack-desktop.tk-buttons-halign-right .tk-buttons-group{align-items:flex-end}
.tk-buttons-stack-desktop.tk-buttons-halign-stretch .tk-buttons-group{align-items:stretch}
.tk-buttons-stack-desktop.tk-buttons-halign-stretch .tk-button{flex-grow:1}
.tk-buttons-stack-desktop .tk-button{margin-left:0!important;margin-right:0!important}