a[class*='tk-link-effec']{
    position: relative;
}

a.tk-link-effect-5 span::before,
a.tk-link-effect-8 span::after,
a.tk-link-effect-8 span::before,
a.tk-link-effect-10::before,
a.tk-link-effect-10::before,
a.tk-link-effect-11::before,
a.tk-link-effect-11::after,
a.tk-link-effect-13:before,
a.tk-link-effect-14::before,
a.tk-link-effect-14::after{
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

a.tk-link-effect-10::before,
a.tk-link-effect-11::before,
a.tk-link-effect-11::after,
a.tk-link-effect-8 span::before,
a.tk-link-effect-10::before,
a.tk-link-effect-5 span::before,
a.tk-link-effect-13:before,
a.tk-link-effect-14::before,
a.tk-link-effect-14::after{
    content: '';
    /* show by default */
}

/* Effect 1: Brackets */
a.tk-link-effect-1::before,
a.tk-link-effect-1::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

a.tk-link-effect-1::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

a.tk-link-effect-1::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

a.tk-link-effect-1:hover::before,
a.tk-link-effect-1:hover::after,
a.tk-link-effect-1:focus::before,
a.tk-link-effect-1:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
a.tk-link-effect-2 {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.tk-link-effect-2 {
    perspective: 1000px;
}

.tk-link-effect-2 span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #2195de;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

.tk-link-effect-2 span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0965a0;
    text-align: center;
    content: attr(data-hover);
    transition: background 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
}

.tk-link-effect-2:hover span,
.tk-link-effect-2:focus span {
    transform: rotateX(90deg) translateY(-22px);
}

.tk-link-effect-2:hover span:before,
.tk-link-effect-2:focus span:before {
    background: #28a2ee;
}

/* Effect 3: bottom line slides/fades in */
a.tk-link-effect-3 {
    padding: 8px 0;
}

a.tk-link-effect-3::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

a.tk-link-effect-3:hover::after,
a.tk-link-effect-3:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge */
a.tk-link-effect-4 {
    padding: 0 0 10px;
}

a.tk-link-effect-4::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #101010;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

a.tk-link-effect-4:hover::after,
a.tk-link-effect-4:focus::after {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Effect 5: same word slide in */

a.tk-link-effect-5 span::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

a.tk-link-effect-5 span:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
/* Effect 6*/
a.tk-link-effect-6 {
    margin: 0 10px;
    padding: 10px 20px;
}

a.tk-link-effect-6::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: top 0.3s;
    -moz-transition: top 0.3s;
    transition: top 0.3s;
}

a.tk-link-effect-6::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

a.tk-link-effect-6:hover::before {
    top: 100%;
    opacity: 1;
}

a.tk-link-effect-6:hover::after {
    height: 100%;
}

/* Effect 7: second border slides up */
a.tk-link-effect-7 {
    padding: 12px 10px 10px;
    color: #566473;
    text-shadow: none;
    font-weight: 700;
}

a.tk-link-effect-7::before,
a.tk-link-effect-7::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #566473;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
}

a.tk-link-effect-7::after {
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

a.tk-link-effect-7:hover::before,
a.tk-link-effect-7:hover::after,
a.tk-link-effect-7:focus::before,
a.tk-link-effect-7:focus::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

a.tk-link-effect-7:hover::after,
a.tk-link-effect-7:focus::after {
    top: 0%;
    opacity: 1;
}

/* Effect 8: border slight translate */
a.tk-link-effect-8 span::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

a.tk-link-effect-8 span:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

a.tk-link-effect-8 span::after {
    content: '';
    top: calc(100% + 4px);
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

a.tk-link-effect-8 span:hover::after {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

/* Effect 9: second text and borders */

a.tk-link-effect-9::before,
a.tk-link-effect-9::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
}

a.tk-link-effect-9::after {
    top: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

a.tk-link-effect-9 span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
}

a.tk-link-effect-9 span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

a.tk-link-effect-9:hover::before,
a.tk-link-effect-9:focus::before {
    height: 6px;
}

a.tk-link-effect-9:hover::before,
a.tk-link-effect-9:hover::after,
a.tk-link-effect-9:focus::before,
a.tk-link-effect-9:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

a.tk-link-effect-9:hover span:last-child,
a.tk-link-effect-9:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}

/* Effect 10: reveal, push out */

a.tk-link-effect-10 {
    overflow: hidden;
    white-space: nowrap;

}
a.tk-link-effect-10::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

a.tk-link-effect-10:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

a.tk-link-effect-10 span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

a.tk-link-effect-10:hover span {
    transform: translate3d(0, -2px, 0);
}

/* Effect 11 */
a.tk-link-effect-11::before {
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

a.tk-link-effect-11:hover::before {
    transform: scale3d(1, 1, 1);
}

a.tk-link-effect-11::after {
    content: '';
    top: calc(100% + 4px);
    transition: transform 0.3s;
    transform-origin: 100% 50%;
}

a.tk-link-effect-11:hover::after {
    transform: scale3d(0, 1, 1);
}

/* Effect 12: cirtk-linke */
a.tk-link-effect-12::before,
a.tk-link-effect-12::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

a.tk-link-effect-12::after {
    width: 90px;
    height: 90px;
    border-width: 6px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

a.tk-link-effect-12:hover::before,
a.tk-link-effect-12:hover::after,
a.tk-link-effect-12:focus::before,
a.tk-link-effect-12:focus::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

/* Effect 13: three cirtk-linkes */
a.tk-link-effect-13 {
position: relative;
white-space: nowrap;
}


a.tk-link-effect-13::before {
    height: 7px;
    border-radius: 20px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53);
}

a.tk-link-effect-13:hover::before {
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    opacity: 1;
    transform: scale3d(1.2, 0.1, 1);
}

a.tk-link-effect-13 span {
    transform: translate3d(0, -4px, 0);
    display: inline-block;
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
}

a.tk-link-effect-13:hover span {
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
    transition-duration: 0.4s;
    transition-delay: 0s;
}

/* Effect 14: border switch */

a.tk-link-effect-14::before,
a.tk-link-effect-14::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

a.tk-link-effect-14:hover::before,
a.tk-link-effect-14:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

a.tk-link-effect-14::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

a.tk-link-effect-14::before,
a.tk-link-effect-14:hover::after {
    transition-delay: 0.1s;
}

a.tk-link-effect-14:hover::before {
    transition-delay: 0s;
}
/* Effect 15: scale down, reveal */
a.tk-link-effect-15 {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    text-shadow: none;
}

a.tk-link-effect-15::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

a.tk-link-effect-15:hover::before,
a.tk-link-effect-15:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

/* Effect 16: fall down */
a.tk-link-effect-16 {
    color: #6f8686;
    text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}

a.tk-link-effect-16::before {
    color: #fff;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

a.tk-link-effect-16:hover::before,
a.tk-link-effect-16:focus::before {
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
}

/* Effect 17: move up fade out, push border */
a.tk-link-effect-17 {
    color: #10649b;
    text-shadow: none;
    padding: 10px 0;
}

a.tk-link-effect-17::before {
    color: #fff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

a.tk-link-effect-17::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

a.tk-link-effect-17:hover::before,
a.tk-link-effect-17:focus::before {
    opacity: 0;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

a.tk-link-effect-17:hover::after,
a.tk-link-effect-17:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Effect 18: cross */
.tk-link-effect-18 {
    position: relative;
    z-index: 1;
}

a.tk-link-effect-18 {
    padding: 0 5px;
    color: #b4770d;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

a.tk-link-effect-18::before,
a.tk-link-effect-18::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #b4770d;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

a.tk-link-effect-18::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

a.tk-link-effect-18::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}

a.tk-link-effect-18:hover,
a.tk-link-effect-18:focus {
    color: #fff;
}

a.tk-link-effect-18:hover::before,
a.tk-link-effect-18:hover::after,
a.tk-link-effect-18:focus::before,
a.tk-link-effect-18:focus::after {
    opacity: 0.7;
}

a.tk-link-effect-18:hover::before,
a.tk-link-effect-18:focus::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.tk-link-effect-18:hover::after,
a.tk-link-effect-18:focus::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Effect 19: 3D side */
a.tk-link-effect-19 {
    padding: 10px;
    color: #237546;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

a.tk-link-effect-19::before,
a.tk-link-effect-19::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

a.tk-link-effect-19::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

a.tk-link-effect-19::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

a.tk-link-effect-19:hover,
a.tk-link-effect-19:focus {
    color: #fff;
}

a.tk-link-effect-19:hover::before,
a.tk-link-effect-19:focus::before,
a.tk-link-effect-19:hover::after,
a.tk-link-effect-19:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/* Effect 20: 3D side */
a.tk-link-effect-20 {
    line-height: 2em;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

a.tk-link-effect-20 span {
    position: relative;
    display: inline-block;
    padding: 3px 15px 0;
    background: #587285;
    box-shadow: inset 0 3px #2f4351;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    transition: background 0.6s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

a.tk-link-effect-20 span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #2f4351;
    content: attr(data-hover);
    -webkit-transform: rotateX(270deg);
    -moz-transform: rotateX(270deg);
    transform: rotateX(270deg);
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
}

a.tk-link-effect-20:hover span,
a.tk-link-effect-20:focus span {
    background: #2f4351;
}

a.tk-link-effect-20:hover span::before,
a.tk-link-effect-20:focus span::before {
    -webkit-transform: rotateX(10deg);
    -moz-transform: rotateX(10deg);
    transform: rotateX(10deg);
}

/* Effect 21: borders slight translate */
